# 设置源 为淘宝源
# registry =https://registry.npm.taobao.org

# 默认情况下，PNPM创建了一个半模型，依赖关系可以访问未删除的依赖项，
# 但在node_modules之外的模块不会。 使用此布局，生态系统中的大多数包都没有问题。
# 但是，如果某些工具仅在Node_Modules的根目录中工作时，您可以将其设置为true以为您提升。
shamefully-hoist=true
